<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrowhead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{248,20},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubble</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{499,20},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{359,20},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damage</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,47}</string>
                <key>spriteSourceSize</key>
                <string>{10,47}</string>
                <key>textureRect</key>
                <string>{{20,20},{10,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{1001,20},{125,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_indicator</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,48}</string>
                <key>textureRect</key>
                <string>{{429,20},{50,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>focus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{861,20},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hitbox</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{50,20},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laser</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{123,20},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mentos</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{294,20},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal_bullet</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,25}</string>
                <key>spriteSourceSize</key>
                <string>{20,25}</string>
                <key>textureRect</key>
                <string>{{163,20},{20,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>overlay</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1707,960}</string>
                <key>spriteSourceSize</key>
                <string>{1707,960}</string>
                <key>textureRect</key>
                <string>{{20,160},{1707,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,58}</string>
                <key>spriteSourceSize</key>
                <string>{102,58}</string>
                <key>textureRect</key>
                <string>{{739,20},{102,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_bullet</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{203,20},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spawn</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{619,20},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_bullet</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{84,20},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{1747,1140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddfbe975474fda0f0a67f794767a7561:8e0549f89b5bcb50c8a0ef79dfee8527:db71e206b3c010bfb176561963c50b15$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
